main {
  position: absolute;
  width: 100%;
  margin: 0px auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

  header{
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  

